bootstrap.servers=pkc-ldvj1.ap-southeast-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=WY3EPLAN2PEKQSJ4
sasl.password=8IShFZvNt2xWHuWgraxt91iy1d2MGKwGIsvWqOBTpPZ7lsASG6IQe6fqhvGopvbl
compression.type=lz4
batch.size=10000
request.timeout.ms=120000
queue.buffering.max.messages=200000